@font-face {
    font-family: 'NanumGothicLight';
    src: url(/CTF_Project_main/NanumGothicLight.ttf);
}

@media (max-width: 767px){
	/* 모바일 */
}

@media (min-width: 768px) and (max-width: 991px) {
    /* 테블릿 세로 */
}

@media (min-width: 992px) and (max-width: 1199px) {
    /* 테블릿 가로 */
}

@media (min-width: 1200px) {
    /* 데스크탑 일반 */
}


body {
    font-family: 'NanumGothicLight';
}

h1 {
    width: auto;
    color: aliceblue;
  }
  
header {
    color: aliceblue;
    font-size: 30px;
}

#logo_img {
    position: relative;
    top: -3px;
    left: 12px;
    z-index: 1;
  }
  
  #logo {
    position: relative;
    top: -18px;
    left: 30px;
  
    text-decoration: none;
    color: aliceblue;
    z-index: 2;
  }
  
  #Home {
    font-size: 20px;
    text-decoration: none;
    color: aliceblue;
  
    position: relative;
    top: -18px;
    left: 40px;
    z-index: 2;
  }
  
  #Challenge {
    font-size: 20px;
    text-decoration: none;
    color: aliceblue;
  
    position: relative;
    top: -18px;
    left: 47px;
    z-index: 2;
  }
  
  #Login {
    font-size: 18px;
    text-decoration: none;
    color: aliceblue;
  
  
    position: relative;
    top: -20px;
    left: 1300px;
    z-index: 2;
  }
  
  #Register {
    font-size: 18px;
    text-decoration: none;
    color: aliceblue;
  
    position: relative;
    top: -20px;
    left: 1310px;
    z-index: 2;
  }
  
  #h_line {
    position: relative;
    top: -25px;
    z-index: 2;
  }


#Container {
    color: aliceblue;
}

#name {
    font-size: 80px;
}


#Login_div {
  font-size: 30px;
}

#UN {
  background-color: #111111;
  font-size: 17px;
  width: 110px;

  position: relative;
  top: 13px;
  left: -150px;
}

#PW {
  background-color: #111111;
  font-size: 17px;
  width: 110px;

  position: relative;
  top: 13px;
  left: -150px;
}

input {
  background-color: #232323;
  outline: 2px solid aliceblue;

  color: white;
  font-size: 20px;

  width: 398px;
  height: 35px;
  border-radius: 10px;
}

#Login_btn {
  background-color: #232323;
  outline: 2px solid aliceblue;

  position: relative; /* Warn display: none; 이면 70px Not 0px */
  top: 0px;

  color: white;
  font-size: 20px;

  width: 200px;
  height: 35px;
  border-radius: 10px;
}

#Warn {
  display: block;
  color: rgb(211, 97, 97);
  font-size: 13px;

  position: relative;
  top: -6px;
  left: -80px;
}


footer {
  color: white;
  font-size: 12px;

  position: fixed;
  top: 95%;
}

#footer_line {
  width: 1900px;
}